<div class = 'all-events-wrapper'>
	<ul>
		<%= paginate @e_all %>
	<% @e_all.each do |e| %>
		<%= link_to event_event_one_path id: e.id do %><li>
			<h2><%= e.title %></h2>
			<h6><%= e.date_on.strftime "%d/%m/%Y" %></h6>
		</li><% end %>
	<% end %>
	</ul>
</div>	