<h2><%= @e_one.title %></h2>
<h6><%= @e_one.date_on.strftime "%d/%m/%Y" %></h6>
<p><%= @e_one.desc %></p>

<% if is_admin? %>
	<%= link_to "Delete", admin_delete_event_path(id: @e_one.id) %>
<% end %>