<% @gal_all.each do |gi| %>
	<%= link_to gallery_one_image_path id: gi.id do %>
	<div class = 'gallery-image'>
		<%= image_tag gi.gallery_image.to_s %>
		<p><%= gi.caption %></p>
		<p><%= gi.desc[0,70] %></p>
	</div>
	<% end %>
<% end %>
