<div>
<p>For completing the registration process please pay the required amount in the given account details:</p>
		<p>Registration Fee : 100 INR (One time)</p>
		<p>Membership Fee : 100 INR (Yearly)</p>
		<p>Account No. : 402210110002300 (Savings account)</p>
		<p>IFSC Code : BKID0004022</p>
		<p>BANK OF INDIA, BELIAGHATA</p>
		<p>After payment is done please contact the admin for details of activation.</p>

</div>