<div class = 'pdesk-wrapper'>
	<h2>Chairman's Desk</h2>
	<div class = 'pms'>
	 <p>RCC Institute of Information Technology (RCCIIT) initiated its journey way back in the year 1999 under an autonomous society of Dept. of Higher Education, Government of West Bengal with an active support and collaboration of Ministry of Information Technology, Government of India. Incepted with a vision of imparting quality education in the domain of Information Technology and Computer Science, the institute has now expanded to offer courses on other disciplines also. RCCIIT with the affiliation of West Bengal University of Technology (WBUT) and accreditation of All India Council of Technical Education (AICTE) has been offering state of the art technical education in the country.</p>

	<p>We always maintain a vision to motivate and advocate our students towards potential involvement and contribution in the techno-economic development of our country. We are advancing with a total quality development in engineering education. In order to succeed in this endeavor we have developed a constructive long-term relationship with acclaimed academic and research institutions in India and abroad. Complete accomplishment of this knowledge network is backed by some strong collaboration with industries.</p>

	<p>I am extremely happy that World Bank as a part of Technical Education Quality Improvement Programme (TEQIP-II) has agreed to work with us financially in a bigger way to realize this dream. The total progress plan includes infrastructure, faculty and overall student development. As a whole we are trying to present a vibrant experience to all stakeholders of this Institute. I welcome you all to become a part of this wonderful mission.</p>

 

                                               <p>Dr. Sparshamani Chatterjee, <br/>
                                               	Chairman, RCCIIT and Ex-Vice  Chancellor, BESU, Shibpur</p>
</div>
<%= image_tag 'smc.jpg', class: 'cht', width: 300 %>

</div>