<div class = 'pdesk-wrapper'>
	<h2>Chairman's Desk</h2>
	<div class = 'pms'>
	 

	<p>Content to be uploaded soon....</p>

 

                                               <p>Dr. Sparshamani Chatterjee, <br/>
                                               	Chairman, RCCIIT and Ex-Vice  Chancellor, BESU, Shibpur</p>
</div>
<%= image_tag 'smc.jpg', class: 'cht', width: 300 %>

</div>