<div class = 'pdesk-wrapper'>
	<h2>Principal's Desk</h2>
	<div class = 'pms'>
		

		<p>Content to be uploaded soon....</p>

	 

	                                               <p>Prof. (Dr.) Partha Bose, <br/>
	                                               	FIE, FICE(U.K), FIV<br/>
	                                                  Principal</p>
	</div>
	<%= image_tag 'Principal Photo.jpg', class: 'pht', width: 300 %>

</div>