<div class = 'pdesk-wrapper'>
	<h2>Principal's Desk</h2>
	<div class = 'pms'>
		<p>From the day the institution began its journey of technical education, RCC IIT has never looked back , an engineering college which started focusing mainly on providing Computer Science and Information Technology education, now boasts of providing technical education in a large number of allied engineering fields.</p>

		<p>Engineering education is crucial to the economic development of a nation. Poor engineering not only wastes valuable resources but also leads to loss of man days, time and cost overrun.</p>

		<p>Engineering education is becoming more invaluable today than ever before. A standardized and quality degree course of study in engineering can ensure passport to the world labour market of skilled professionals beyond national boundaries. A standard and good quality engineering institution should thus have, not only the required infrastructure as mandated by the All India Council of Technical Education(AICTE) but should also provide all other facilities for all round development including grooming aptitude as an engineer and continuing professional skill development. Today’s engineer s should posses not only the necessary communication skill but should have the required analytical skill as a problem solver so that their employability and acceptability become global.</p>

		<p>RCC IIT is providing affordable but high quality engineering education in the state of West Bengal and its excellent track record in academic result and placement has ensured full admission of fresh students year after year. RCCIIT is actively pursuing Technical Education Quality Improvement Program (TEQIP) wherein the students and the faculties earn rich dividends in terms of academic excellence and overall development.</p>

		<p>I have recently joined as the principal of this reputed institute and I am glad to become a part of its glorified yet humble journey.</p>

	 

	                                               <p>Prof. (Dr.) Partha Bose, <br/>
	                                               	FIE, FICE(U.K), FIV<br/>
	                                                  Principal</p>
	</div>
	<%= image_tag 'Principal Photo.jpg', class: 'pht', width: 300 %>

</div>