.admin-user-all-wrapper{
	li{
		max-width: 150px;
		display: inline-block;
		padding: 5px;
		list-style: none;
		text-align: center;
	}

	img{
		width: 150px;
		border: 3px solid #207791;
		&:hover{
			border-color: #FFFFFF;
		}
	}

	h3{

	}
}