.admin-user-all-wrapper{
	li{
		max-width: 150px;
		display: inline-block;
		padding: 5px;
		list-style: none;
		text-align: center;

		&:hover{
			background-color: #DED7B6;
		}
	}

	img{
		width: 150px;
		border: 7px solid darken(#B7A65E, 30%);
	}

	h3{

	}
}