/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	background-color: #022B3B;
	/*background-image: url('ricepaper.png');*/
	font-family: 'Cardo', serif;
	color: #FFFFFF;
}

.yield-wrapper{

}

input[type=text], input[type=password], input[type=email], textarea{
	padding: 5px;
	border-radius: 5px;
}

a{
	text-decoration: none;
	color: inherit;
}

.universal-wrapper{
	padding: 5px;
	width: 1100px;
	margin: auto;
}

.button{
	padding: 3px 7px 1px 7px;
	font-family: 'Expletus Sans', cursive;
	background-color: #207791;
	color: lighten(#C7B981, 20%);
	border-radius: 5px;

	&:hover{
		background-color: darken(#207791, 30%);
		color: lighten(#C7B981, 30%);
	}
}

header{
	border-radius: 5px;
	width: 1100px;
	text-align: center;
	background-color: #115A70;
	padding: 10px;
	padding-top: 20px;
	margin: auto;
}

.error-message{
	font-weight: bold;
	color: #DA241B;
}

.confirm-message{
	font-weight: bold;
	color: #007700;
}

.logbar{
	li{
		display: inline-block;
		list-style: none;
		text-align: center;
		padding: 10px;
		border-left: 1px solid #FFFFFF;
		border-right: 1px solid #FFFFFF;
		font-family: 'Exo 2', sans-serif;
		a:hover{
			font-weight: bold;
		}
	}
	
}

nav{
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	width: 900px;
	height: 21px;
	li{
		border-radius: 5px;
		width: 150px;
		padding: 5px;
		display: inline-block;
		list-style: none;
		font-family: 'Exo 2', sans-serif;
		background-color: #083A52;

		&:hover{
			background-color: darken(#083A52, 35%);
		}
	}
}

.admin-bar{
	margin: auto;
	text-align: center;
	li{
		border-radius: 5px;
		width: 150px;
		padding: 5px;
		display: inline-block;
		list-style: none;
		font-family: 'Exo 2', sans-serif;	
		background-color: darken(#207791, 17%);
		&:hover{
			background-color: darken(#207791, 27%);
		}
	}
}

.spacer{
	height: 13px;
}

footer{
	margin-top: 40px;
	padding: 13px;
	border-top: 2px solid #207791;
}