.open-forum-wrapper{
	min-width: 1100px;
	h2{
		min-width: 1100px;
		padding: 5px;
		background-color: #32C9C7;
		color: #FFFFFF;
	}

	ul{
		min-width: 1100px;
		list-style: none;
		padding: 10px;
		background-color: #1A5958;
		color: #FFFFFF;
	}

	li{
		padding-top: 3px;
		border-bottom: 2px solid #FFFFFF;
		margin-bottom: 17px;
		padding-left: 5px;
		&:hover{
			background-color: lighten(#1A5958, 10%);	
		}

		h4{
			display: inline-block;
		}

		.owner{
			float: right;
			font-size: 80%;
			&:hover{
				color: darken(#C7B981, 20%);
			}
		}
	}	
}

.topic-wrapper{
	h2{
		min-width: 1100px;
		padding: 5px;
		background-color: #32C9C7;
		color: #FFFFFF;
	}

	ul{
		min-width: 1100px;
		list-style: none;
		padding: 10px;
		background-color: #1A5958;
		color: #FFFFFF;
	}

	li{
		padding-top: 3px;
		border-bottom: 2px solid #FFFFFF;
		margin-bottom: 17px;
		padding-left: 5px;
	}	
}

hr{
	border: 0; 
	height: 1px; 
	background-color: #FFFFFF; 
}

.user-info{
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 150px;
	h4{
		text-align: center;
	}
	p{
		text-align: center;
		margin-top: -5px;
	}
	img{
		margin-top: -17px;
		border: 5px solid #207791; 
	}

	&:hover{
		background-color: #26807F;
	}
}

.post-info{
	display: inline-block;
	width: 900px;
	margin-left: 10px;
}