.gallery-wrapper{
	text-align: center;
	.gallery-image{
		display: inline-block;

		img{
			border: 5px solid #207791;
		}

		p{
			padding: 5px;
			background-color: #796C36;
			color: #A2AF81;
			margin-top: -7px;
			font-weight: bold;
		}
	}
}

.one-image-wrapper{
	text-align: center;
	img{
		width: 800px;
		border: 7px solid #207791;
	}
}