.search-results-wrapper{
	h2{
		padding: 5px;
		background-color: #071A20;
		color: #FFFFFF;
	}

	ul{
		list-style: none;
		padding: 10px;
		background-color: #1A5958;
		color: #FFFFFF;
	}

	li{
		img{
			border: 3px solid #207791;
		}

		.search-info-text{
			display: inline-block;
		}

		border-left: 2px dashed #32C9C7;
		margin-bottom: 15px;
		padding-left: 5px;
		&:hover{
			background-color: #26807F;	
		}
	}

	h3{
		margin-top: 1px;
	}

	h4{
		margin-top: -20px;
		margin-bottom: -5px;
	}
}