// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-field-info{
	color: darken(#D8D8D8, 40%);
	font-size: 70%;
}

.register-form-wrapper{
	text-align: left;
	margin-left: 30px;
	line-height: 150%;

	form{
		label{
		}
	}
}

.mandatory-field{
	font-size: 13px;
	color: red;
}

$userFS: 117%;

.user-details{
	margin-left: 30px;
	position: relative;
	display: inline-block;
	font-size: $userFS;
	p{
		text-align: center;
	}
}

.prop{
	font-weight: bold;
	font-size: 95%;
	background-color: #B7A65E;
	padding: 2px 4px 2px 4px;
	display: block;
	margin-bottom: -25px;
}

.user-email{
	position: relative;
	top: -20px;	
}

.department-specific{
	margin-left: 50px;
	position: relative;
	display: inline-block;
	font-size: $userFS;
	p{
		text-align: center;
	}
}

.user-page-head{
	margin-bottom: -10px;
}

.user-image-box{
	display: inline-block;
	img{
		width: 300px;
		border: 13px solid darken(#B7A65E, 30%);
	}
	p{
		text-align: center;
		background-color: #B7A65E;
	}
}

.pm-subject{
	font-weight: bold;
	font-size: 110%;
}

.check-pm-wrapper{
	h2{
		background-color: #796C36;
		color: lighten(#796C36,30%);
		padding: 2px 4px 2px 4px;
	}

	ul{
		padding: 15px;
		list-style: none;
		background-color: lighten(#796C36, 15%);
	}

	li{
		padding-left: 5px;
		margin-bottom: 10px;
		border-left: 2px dashed #796C36;
	}
}